body {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;

  cursor: default;

  display: flex;
  flex-direction: column;
}

.header-container {
  order: 1;
}

.main {
  flex: 1;
  order: 2;

  display: flex;
  flex-direction: row;

  .sidebar {
    order: 1;
  }

  .content {
    order: 2;
    flex: 1;
  }
}
