body {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;

  cursor: default;

  display: flex;
  flex-direction: column;
}

.header-container {
  order: 1;
}

.modal-container {
  order: 2;
}

.main {
  flex: 1;
  order: 3;

  display: flex;
  flex-direction: row;

  .sidebar-left {
    order: 1;
  }

  .content {
    min-width: 300px;
    order: 2;
    flex: 1;
  }

  .sidebar-right {
    order: 3;
  }

}
