.content {
  display: flex;
  flex-direction: column;
}

.message-container {
  display: flex;
  flex: 1;

  .messages {
    flex: 1;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.input-container {
  .input {
    border-top: 1px solid $silver;
    height: 40px;
    outline: none;
    padding: 10px;
  }
}
