header {

  position: absolute;
  top: 0;
  height: $header_height;
  width: 100%;
  background: $midnight_blue;
  color: $clouds;

  .logo {
    float: left;
    margin: 0 0 0 10px;
    padding: 0;
    line-height: $header_height;
  }

  .user {
    float: right;
    margin: 20px;
  }

}
