.messages {

  .message {

    display: flex;
    flex-direction: row;

    line-height: 32px;
    padding: 0 10px;

    &:nth-child(2n) {
      background: lighten($peter_river, 44);
    }

    .user {
      text-align: right;
      padding-right: 10px;
      font-weight: bold;
    }

    .contents {
      flex: 1;
    }

    .time {
      color: $asbestos;
    }

  }

}
