.sidebar .rooms {

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    line-height: 35px;

    * {
      color: $belizehole;
    }

    display: flex;

    .name {
      flex: 1;
      text-decoration: none;
    }

    .delete {
      width: 20px;
    }

    .count {
      padding-left: 10px;
    }

    &.active * {
      color: $wet_asphalt;
      font-weight: bold;
      background: darken($clouds, 4);
    }

    &:hover * {
      color: $wet_asphalt;;
    }

  }

  button {
    @extend #button#primary;
    margin-top: 10px;
  }
 
}
