.sidebar {

  @include order(1);
  width: 220px;

  background: $clouds;
  border-right: 1px solid $silver;

  @include flexbox();
  @include flex-direction(column);

  h2 {
    margin: 10px 0 0 0;
    padding: 0 5px;

    font-size: 12px;
    line-height: 35px;
    color: darken($asbestos, 10);
    text-transform: uppercase;
    border-bottom: 2px solid $silver;
  }

}
