.sidebar {

  width: 220px;
  background: $clouds;
  padding: 0 10px;
  overflow: auto;

  &.sidebar-left {
    border-right: 1px solid $silver;
  }

  &.sidebar-right {
    border-left: 1px solid $silver;
  }

  h2 {
    margin: 10px 0 0 0;

    font-size: 13px;
    line-height: 35px;
    color: darken($asbestos, 10);
    text-transform: uppercase;
    border-bottom: 2px solid $silver;
  }

}
