
._button-primary {

  $COLOR: $peter_river;

  padding: 4px 12px;
  background: $COLOR;
  color: $white;
  border: 0;
  font-size: 14px;
  line-height: 20px;
  outline: none;

  &:hover {
    background: darken($COLOR, 10);
  }

}
