
/* FLAT UI COLORS */

// dark green
$turquoise: #1abc9c;
$green_sea: #16a085;

// light green
$emerland: #2ecc71;
$nephritis: #27ae60;

// blue
$peter_river: #3498db;
$belizehole: #2980b9;

// purple
$amethyst: #9b59b6;
$wisteria: #8e44ad;

// dark blue
$wet_asphalt: #34495e;
$midnight_blue: #2c3e50;

// yellow
$sun_flower: #f1c40f;
$orange: #f39c12;

// orange
$carrot: #e67e22;
$pumpkin: #d35400;

// red
$alizarin: #e74c3c;
$pomegranate: #c0392b;

// light grey
$clouds: #ecf0f1;
$silver: #bdc3c7;

// mid grey
$concrete: #95a5a6;
$asbestos: #7f8c8d;

// white/black
$white: #fff;
$black: #000;
